.root {
  input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.25rem;
    width: 100%;
    margin-left: 1.5rem;
    outline: none;

    &:focus {
      outline: none;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  background-color: var(--color-gray);
  max-width: 500px;
  font-size: 1.4rem;
  width: auto;
  height: 3.5rem;
  border: 1px solid var(--color-dark);
  border-radius: 60px;
  padding: 0 15px;
}

.title {
  display: block;
  font-size: 2rem;
  margin: 0 0 1rem 0;
}

.icon {
  width: 3rem;
  height: 3rem;
  margin-left: auto;
  align-self: center;
}
